*{
      margin: 0;
      padding: 0;
}
body{
      /* font-family: 'Open Sans', sans-serif; */
      font-family: 'Work Sans', sans-serif;
}
.btn-primary{
      border-radius: 5px 15px 5px 15px;
      background: #FFF;
      color: #005FAC;
      font-size: 15px;
      padding: 10px 15px;
      border: 0;
      font-weight: bold;
      margin-top: 36px;
      
      
     
}
/* shaerd style  */
.tik{
      color: green;
      margin-right: 5px;
      font-size: 16px;
}
.sub-heading{
      color:  #151414;
      text-align: center;
      font-family: Work Sans;
      font-size: 40px;
      font-weight: 700;
     
}

/* banner style css  */
.banner{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-image: url("images/banner/banner3.png");
      /* height: 100vh; */
      height: 643px;
      background-size: cover;
      background-repeat: no-repeat;
      /* padding: 40px 120px; */
      padding-top:40px ;
      padding-right: 120px;
      background-position: center center;
      
}
.banner-left{
      width: 50%;
     
}
.banner-right{
      width: 50%;
      text-align: right;
      /* padding-left: 180px;
      padding-right: 44px; */
      margin-right: 54px;
}
.banner-right h1{
      color: #FFF;
      font-size: 45px;
      font-weight: 700;
      line-height: 55px;
}
.banner-right p{
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      padding-left: 172px;
      margin-top: 10px;
}
main{
      width: 1043px;
      margin: 30px auto;
      
}
/* failures section style css  */
.failures{
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.profile-pic{
      width: 50%;
      
}
.profile-pic .pic{
      max-width: 100%;
     
}
.failures-info{
      width: 50%;
      padding: 0 50px;
}
.failures-info h4{
      color: #151414;
      font-family: Work Sans;
      font-size: 30px;
      font-weight: 700;
}
.failures-info p{
      color: #444343;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin: 20px 0;
}
.failures-info ul{
      list-style: none;
}
.failures-info ul li{
      color: #444343;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
      
}
/* plan-section style css  */
.plan-section{
      text-align: center;
      margin: 70px 0;
}
.plan-container{
      display: flex;
      justify-content: space-between;
      margin-top: 114px;
}
.plan{}
.plan-title{
      color: #151414;
      text-align: center;
      font-family: Work Sans;
      font-size: 18px;
      font-weight: 700;
     
}
.plan-description{
      color: #737272;
      text-align: center;
      font-family: Work Sans;
      font-size: 18px;
      padding: 15px 0;
      font-weight: 500;

}
/* ad- banner style css  */
.ad-banner{
      background-image: url("images/gradient1.png"), url("images/watch.png");
      background-position: center;
      background-size: cover;
      height: 153px;
      padding: 61px;
      margin: 100px 0;
}
.ad-banner-info{
      color: #FFF;
      font-family: Work Sans;
      font-size: 29px;
       font-weight: 700;

}

/* footer style css  */
.section-footer{
      background-color: #151414;
      display: flex;
      justify-content: space-between;
      padding: 100px 150px;
}
.footer-info{
      width: 50%;
    
}
.footer-heading{
      color: #F8F8F8;
      font-family: Work Sans;
      font-size: 33px;
      font-weight: 700;
}
.footer-description{
      color: #FFF;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 400;
      padding: 15px 20px 15px 0;
   
      
}
.mail{
      color: #FFF;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 400;
      padding: 0px 25px 0px 0;
}
.image{
      height: 20px;
      margin-right: 5px;
}
.footer-contact-form{
      width: 40%;
      padding-left: 30px;
      margin-left: 163px;
}
.footer-contact-form h5{
      color: #FFF;
      font-family: Work Sans;
      font-size: 22px;
      font-weight: 600;

}
form input{
      padding: 10px;
      width: 50%;
      margin-top: 21px;
      margin-bottom: 23px;
      background-color: #151414;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      border-radius: 10px;
}
.btn-footer{
      border-radius: 5px 15px 5px 15px;
      background: #005FAC;
      color: #fff;
      font-size: 15px;
      padding: 10px 15px;
      border: 0;
      font-weight: bold;
     
}